.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gap, 1rem);

  width: 100%;
}

.item {
  grid-column: span var(--width, 12);
}

.container-outer {
  padding: 0 var(--padding, 5vw);
}
@media (min-width: 549px) {
  .container-outer {
    --padding: 15vw;
  }
}
