@import "./globals/fonts.css";
@import "./globals/input-resets.css";
@import "./globals/containers.css";
@import "./globals/colors.css";
@import "./globals/transitions.css";

html {
  font-family: Roboto-Slab;
  font-size: clamp(14px, 2.5vw 20px);

  box-sizing: border-box;
  color: var(--color-font);
}

.form__next-link {
  border: 1px solid var(--color-200);
  background: var(--color-200);
  color: white;

  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.25rem;
}

button:disabled,
.disabled {
  opacity: 0.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-weight: normal;
  font-size: calc(1rem * var(--size, 1));
  margin: 1em 0 0.75em;
}

h1 {
  --size: 2.448;
}
h2 {
  --size: 2.074;
}
h3 {
  --size: 1.728;
}
h4 {
  --size: 1.44;
}
h5 {
  --size: 1.2;
}

.small {
  --size: 0.75;
  margin: 0;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

ul:not(.has-list-style) {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
}
