@import "./globals/fonts.css";
@import "./globals/input-resets.css";
@import "./globals/containers.css";

html {
  font-family: Roboto-Slab;
  font-size: clamp(14px, 2.5vw 20px);

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
